:root {
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

* {
    transition: all 0.5s;
}

body {
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    background: rgb(78, 74, 69);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: calibri;
}

div {
    display: inline-block;
}

.version-div{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.nivelesTotales{
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

img {
    display: block;
    width: 8rem;
}

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);


}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 2s;


}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.trasera {
    background-color: lightcyan;
    transform: rotateY(180deg);


}

.superior {
    background: linear-gradient(orange, darkorange);
}

#btnNuevoJuego {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 130%;
    display: inline-block;
}

#btnReiniciar {
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 130%;

}

#tiempoRestante{
    font-size: 150%;
    margin-left: 2rem;
}

#nivel {
    font-size: 150%;
    margin-bottom: 20px;
}

#puntos {
    display: inline-block;
    font-size: 250%;
    margin-left: 30px;
}

#intentos {
    display: inline-block;
    font-size: 250%;
    margin-left: 30px;
}

@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}

/* Estilos específicos para cada nivel */
.tarjeta.nivel-1 {
    animation-duration: 2s;
    /* Tiempo de visualización para el nivel 1 */
}

.tarjeta.nivel-2 {
    animation-duration: 3s;
    /* Tiempo de visualización para el nivel 2 */
}

.tarjeta.nivel-3 {
    animation-duration: 3.5s;
    /* Tiempo de visualización para el nivel 3 */
}

.tarjeta.nivel-4 {
    animation-duration: 4s;
    /* Tiempo de visualización para el nivel 4 */
}

.tarjeta.nivel-5 {
    animation-duration: 4s;
    /* Tiempo de visualización para el nivel 5 */
}



/* efecto especial para carta special */
@keyframes rainbow {
    0% {
        background-color: red;
    }

    14% {
        background-color: orange;
    }

    28% {
        background-color: yellow;
    }

    42% {
        background-color: green;
    }

    57% {
        background-color: blue;
    }

    71% {
        background-color: indigo;
    }

    85% {
        background-color: violet;
    }

    100% {
        background-color: red;
    }
}

.efecto-rainbow {
    animation: rainbow 1s infinite;
}